{% extends 'template.html' %}

{% block content %}

<h1>Преглед - ID</h1>

<form>
  <label for="hive_id">Кошница бр.</label>
  <input type="text" name="hive_id" id="hive_id" {% if hive_id != None %} value="{{ hive_id }}" {% endif %} /> 
  <input type="submit" value="Прикажи" />
</form>

{% if review != None %}
  <br>
  <br>
  <p><b>Кошница БР. {{ hive_id }}</b></p>
  <br>
  {% for (date, hive_id, interv, state, frames, note) in review %}    
    <p style="color: #336699">{{ date }}</p>    
	  <p><span class="vst">Ин: </span>{{ interv }}</p>
    <p><span class="vst">Ст: </span>{{ state }}</p>
	  <p><span class="vst">РР: </span>{{ frames }}</p>
	  <p><span class="vst">Но: </span>{{ note }}</p> 
    <br>  
  {% endfor %}
{% endif %}	

{% endblock content %}