{% extends 'template.html' %}

{% block content %}

<h1>Преглед - Преглед - ОдДо</h1>

<form>
  <label for="date_from">Датум ОД</label>&nbsp;&nbsp;
  <input type="date" name="date_from" id="date_from" value="{{ date_from }}" required /><br /><br />
  <label for="date_to">Датум ДО</label>&nbsp;&nbsp;
  <input type="date" name="date_to" id="date_to" value="{{ date_to }}" required /><br /><br />
  <input type="submit" value="Прикажи" />
  <br /><br />
</form>

{% if review != None %}
  {% set difdate = [] %}	
	{% for (date, hive_id, state, interv, frames, note) in review %}
		{% if date not in difdate %}
      <br /><br />
			<p style="color: #336699;"><b>{{ date }}</b></p>
      <br />
			{% if difdate.append(date) %} {% endif %}
		{% endif %}
		<p><b>{{ hive_id }}</b></p>
		<p><span class="vst">Ст: </span>{{ state }}</p>
	  <p><span class="vst">Ин: </span>{{ interv }}</p>
	  <p><span class="vst">РР: </span>{{ frames }}</p>
	  <p><span class="vst">Но: </span>{{ note }}</p>
	{% endfor %}
{% endif %}	

{% endblock content %}