{% extends 'template.html' %}

{% block content %}
  
  <h1>Прегледи - сви</h1>
	
	{% set xdate = null %}	
	{% for (date, hive_id, state, interv, frames, note) in review %}		
		{% if xdate != date %}			
			<b><p style="color: #336699">{{ date }}</p></b>
			<b><p style="color: #336699">{{ xdate }}</p></b>
			{% set xdate = date %}					
		{% endif %}
		<p>Кошница бр: {{ hive_id }}</p>
		<p>Ст: {{ state }}</p>  
		<p>Ин: {{ interv }}</p>
		<p>РР: {{ frames }}</p>
		<p>Но: {{ note }}</p> 
		<br>  		
	{% endfor %}	

{% endblock content %}