{% extends 'base.html' %}

{% block content %}

<h1>Преглед - нови</h1>
<form method="POST" action="/inspect_add">
  <label for="date">Датум прегледа</label><br>
  <input type="date" name="date" id="date" value="{{ date }}" required>
  <label for="apiary_id">Пчелињак</label><br>
  <select name="apiary_id" id="apiary_id" required>
    {% for id, name in apiary %}
      {% if id == apiary_id %}
        <option value="{{ id }}" selected>{{ name }}</option>
      {% else %}
        <option value="{{ id }}">{{ name }}</option>
      {% endif %}
    {% endfor %}
  </select>
  <label for="hive_id">Кошница Бр.</label><br>
  <input type="text" name="hive_id" id="hive_id" required> 
  <br> 
  <label for="state">Стање</label><br>
  <textarea name="state" id="state" style="width: 100%" rows="2" required></textarea>
  <label for="interv">Интервенција</label><br>
  <textarea name="interv" id="interv" style="width: 100%" rows="2" ></textarea>
  <label for="frames">Распоред рамова</label><br>
  <textarea name="frames" id="frames" style="width: 100%" rows="1"></textarea>
  <label for="note">Напомена</label><br>
  <textarea name="note" id="note" style="width: 100%" rows="2"></textarea>
  <input type="submit" value="Упиши податке">
</form>

{% if msg %}
<h2>{{msg}}</h2>
{% endif %}

{% endblock content %}