{% extends 'template.html' %}

{% block content %}


<form>
  <label for="date">Датум ОД</label><br>
  <input type="date" name="date_from" id="date_from" {% if hive_id != None %} value="{{ date_from }}" {% else %} value="01.01.2023" {% endif %} required /><br><br>
  <label for="date">Датум ДО</label><br>
  <input type="date" name="date_to" id="date_to" {% if hive_id != None %} value="{{ date_to }}" {% else %} value="01.09.2023" {% endif %} required /><br><br>
  <input type="submit" value="Прикажи" />  
</form>

{% if review != None %}
<br />
<table class="nice-table">	
  <tr>
    <th width="10%">Датум</th><th width="5%">К БР</th><th width="25%">Стање</th><th width="25%">Интервенција</th><th width="15%">Распоред рамова</th><th width="20%">Напомена</th>
  </tr>
  {% for (date, hive_id, state, interv, frames, note) in review %}
			<tr>
				<td>{{ date }}</td><td>{{ hive_id }}</td><td>{{ state }}</td><td>{{ interv }}</td><td>{{ frames }}</td><td>{{ note }}</td>
			</tr>
	{% endfor %} 
</table>	
{% endif %}	

{% endblock content %}