{% extends 'template.html' %}

{% block content %}
<h1 style="text-align: center;">
  Пчелињак
</h1>

<div class="shema">
  <div style="flex: 70%;">
    <table class="tshema">			
      {% for i in ["5", "4", "3", "2", "1"] %}
        <tr>
          {% for j in ["1", "2", "3", "4", " ", "5", "6", "7", " ", "8", "9", "A"] %}
            
              {% if j !=" " %}
              <td>
                <a href="shema?hive_id={{ i+j }}">
                  {{ i+j }}
                </a>
              </td>
              {% endif %}  
              {% if j ==" " %}
                <td style="border: 0;"></td>
              {% endif %}            
            
          {% endfor %}
        </tr>
      {% endfor %} 
    </table>
  </div>
  <div style="flex: 30%; padding-left: 15px;">
    <h2>Прегледи:</h2>
    {% if review != None %}      
      <p><b>Кошница БР. {{ hive_id }}</b></p>
      <br>
      {% for (date, hive_id, observation) in review %}    
        <p style="color: #336699">{{ date }}</p>
        <p>{{ observation }}</p>  
        <br>  
      {% endfor %}
    {% endif %}	
  </div>

</div>
		


{% endblock content %}