{% extends 'template.html' %}

{% block content %}

<h1>Пчелињак - шема</h1>

<div class="shema">
  <div style="flex: 70%;">
    <table class="tshema">			
      {% for i in range(5) %}
        <tr>
          {% for j in range(12) %}
            
            {% if shema[i][j][0] !="  " %}
              <td>
                {% if shema[i][j][1] %}
                  <a class="shemaid" href="shema?hive_id={{ shema[i][j][0] }}">
                {% else %}
                  <a class="shemaid_na" href="shema?hive_id={{ shema[i][j][0] }}">
                {% endif%}
                <b>{{ shema[i][j][0] }}</b>
                </a>
              </td>              
            {% else %}
                <td style="border: 0;"></td>
            {% endif %}            
            
          {% endfor %}
        </tr>
      {% endfor %} 
    </table>
  </div>
  <div style="flex: 30%; padding-left: 15px;">    
    {% if review != None %}      
      <p><b>Кошница БР. {{ hive_id }}</b></p>
      <br>
      {% for (date, hive_id, interv, state, frames, note) in review %}    
        <p style="color: #336699">{{ date }}</p>        
	      <p><span class="vst">Ин: </span>{{ interv }}</p>
        <p><span class="vst">Ст: </span>{{ state }}</p>
	      <p><span class="vst">РР: </span>{{ frames }}</p>
	      <p><span class="vst">Но: </span>{{ note }}</p> 
        <br>  
      {% endfor %}
    {% endif %}	
  </div>
</div>
{% endblock content %}